


.list-group-item, .navbar-toggler {
    border: 0;
}

.list-group-item:hover {
    background: lightgray;
}

#logo1 {
    font-size: 3.67rem;
    font-weight: 300;
    font-variation-settings: "wdth" 90;
    line-height: 1.5;
    margin: 0.8rem;
    letter-spacing: .25rem;
    color: #3F575A;
}


#logo2 {
    margin: 1.2rem;
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: .125rem;
    line-height: 1.2;
}

.hamburger-icon {
    font-size: 1.25em;
    font-weight: 200;
}

.closeButton {
    font-size: 1.75rem;
    font-weight: 400;
    font-variation-settings: "wdth" 115;
    color: #806247;
}

.closeButton:hover {
    color: #A84736;
}

.bannerLine {
    width: 20rem;
}

.banner {
    padding-top: 4.5rem;
    box-shadow: 0 4px 7px rgba(128,98,71,0.25)
}

.headerAddress {
    line-height: 2em;
    margin: auto;
}

.price {
    color: #A84736;
}

.navbar-toggler {
    margin: 0.5em;
}

.navMenu {
    padding: 1em;
}

.navMenu, .staffLink {
    color: #806247;
    text-decoration: none;
}

.navMenu:hover, .staffLink:hover {
    color: #A84736;
    text-decoration: none;
}

.navFooter {
    color: #3F575A;
    font-size: 1.15rem;
    text-decoration: none;
    line-height: 2.25em;
    font-style: italic;
}

.navFooter:hover {
    color: #1f3234;
}

.footer {
    float: left;
}

.staffLink:hover, .navFooter:hover {
    text-decoration: underline;
}

.staffLink, .headerAddress, .footerText {
    float: right;
    text-align: right;
    margin-right: 1.5em;
    line-height: 2em;
    }

.copyR {
    font-style: italic;
    font-size: 0.9rem;
}

.navMenu {
    font-size: 1.4rem;
    padding: 0.5rem;
    letter-spacing: 0.05rem;

}

.thisPage {
    text-decoration: underline;
    font-weight: 550;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(251, 246, 242);
    box-shadow: 0 4px 7px rgba(128,98,71,0.25)
}

.footBox {
    box-shadow: 0 -4px 7px rgba(47, 108, 115, .2), 0 4px 7px rgba(47, 108, 115, .2) inset;;
    background-color: rgba(47, 108, 115, .15);
    padding-top: 2em;
}


footer .copyBar {
    box-shadow: 0 0px 7px rgba(47, 108, 115, .1) inset;
    background-color: rgba(47, 108, 115, .15);
}

.formFooter .f6 .branding21 .isAccessible {
    opacity: 0;
    position: relative;
    top: 50px;
}

.mainText {
    text-align: center;
    padding: 1rem 1rem 3rem 1rem;
    font-size: x-large;
}

.pageHeading {
    padding: 5rem;
    box-shadow: 0 4px 7px rgba(128,98,71,0.1);
}

/* Smaller heading text used in homepage intro */
.subHeading {
    font-size: 2rem;
    padding-top: 2rem;
}



main {
    text-align: center;
    margin-bottom: 3em;
}

h1 {
    font-weight: 500;
    letter-spacing: .1rem;
    color: #3F575A;
    text-align: center;
    clear: both;
    padding: 1em;
    margin: 0;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #806247;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

h3 {
    font-weight: 350;
    font-size: 1.2rem;
    color: #3F575A;
    margin-top: 3rem;
}

p {
    color: #806247;
}

h1, h2, h3, p, a, .closeButton {
    font-family: 'Asap', Arial, sans-serif;
}

.list-group {
    margin: 0.35rem;
}

small {
    font-size: 0.8em;
    font-style: italic;
    opacity: .8;
}



.navbar-collapse>menu>li:hover {
    background-color: rgba(47, 108, 115, .2);
}

.navbar-collapse>menu>li {
    background-color: rgb(251, 246, 242);
}

#littleLogo {
    display: none;
    font-size: 1rem;
    color: #3F575A;
}
#topLL {
    line-height: 2rem;
}
#subLL {
    font-size: 0.75rem;
    color: #806247;
    line-height: 1.75rem;
}

/* modifying the Bootstrap card class */
.card {
    max-width: 400px;
}

/* recolour bootstrap standard with Haukai restaurant's style */
.card-heading {
    font-weight: 350;
    font-size: 1.2rem;
    color: #3F575A;
}

/* position image attributions on menu page */
.attribution {
    position: relative;
    left: -1em;
    top: -0.2em;
    text-align: left;
    font-size: 0.95em;
}

/* colour the image attributions for cards */
.attribution small a {
    color: #3F575A;
}

/* CONTACT PAGE */

.contentBlock {
    text-align: center;
    padding: 3rem 2rem
}

.contentBlock h2 {
    margin-bottom: 0;
    margin-top: 1em;
}

.contentBlock .mainText {
    padding: 1em;
}

/* stop the google map shrinking with a scroll bar */
.gMap {
    width:100%;
    min-height: 400px;
}


/* stop the google form shrinking with a scroll bar */
.gForm {
    padding: 2rem 1rem;
    height: 75rem;
    width: 100%;
}

iframe {
    overflow:hidden;
}


/* HOURS PAGE */

#calendarTitle {
    margin-bottom: 50px;
}

.weekDay {
    text-align: center;
    margin-bottom: 0.35rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.dayStatus {
    text-align: center;
    text-overflow: unset;
}

/* media query for responsiveness on smaller screens */
@media (max-width: 992px) {

    /*adapt week days from side column to top row*/
    .flexBox {
        display: flex;
        justify-content: space-around;
    }
    /* resize the text responsively */
    .weekDay, .dayStatus {
        font-size: 2.5vw; /*font size based on screen width prevents overflow */
    }

    /*abbreviate the week names to avoid overflow*/
    .dayEnd {
        display: none;
    }

}



/* HOMEPAGE */

/* feature scrolling div with fixed background*/
.background {
	position: relative;
	right: 5vw;
	width: calc(100% + 5vw);
	height: auto;
	padding: 10vw 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:top;
}

/* background image for large desktop screens */
@media (min-width: 500px) {
    .background.one {
        background-image: url("../images/restaurant.webp");
        overflow: hidden;
    }
}

/* background image for mobile screens */
@media (max-width: 500px) {
    .background.one {
        background-image: url("../images/restaurant-sm.webp");
        overflow: hidden;
    }
}


/*Text over large fixed images*/
.floatingText {
	position: relative;
	top: 30%;
	background: rgba(224, 233, 234, .9);
	width: 60%;
	box-shadow: 0px 0px 6px 4px rgba(224, 233, 234, .9);
	margin: auto;
	padding: 1rem 3rem;
}

.floatingText p {
	position: relative;
	z-index: 2;
}

/* Put the accreditation on an image */
.caption {
    float: left;
    position: absolute;
    left: 5vw;
    bottom: -1em;
    font-style: italic;
    line-height: 1.5;
    background: rgba(224, 233, 234, .8);
    padding: 0 .5rem;
    box-shadow: 0px 0px 5px 4px rgba(224, 233, 234, .9);
}

.caption a, .cardCaption a, .cardCaptionL a {
    color:#3F575A;
}

.cardCaption {
    font-size: small;
    float: left;
    position: absolute;
    left: 0;
    bottom: 1.75vw;
    font-style: italic;
    line-height: 1.5;
    background: rgba(224, 233, 234, .8);
    padding: 0 .5rem;
    box-shadow: 0px 0px 5px 4px rgba(224, 233, 234, .9);
}


/* caption for the smaller thumbnails*/
.cardCaptionL {
    position: absolute;
    font-size: small;
    font-size: 0.7em; /*have to reduce the font size for the small images*/
    float: left;
    left: 0;
    bottom: -1.3em;
    font-style: italic;
    line-height: 1.5;
    color:#3F575A;
    background: rgba(224, 233, 234, .6);
    padding: 0 .5rem;
    box-shadow: 0px 0px 5px 1px rgba(224, 233, 234, .9);
}

/* Link text inside smaller captions */
.cardCaptionL a {
    color: #163236; /*darker colour to keep it readable*/
}



.bar {
    width: 100%;
    height: 60px;
    box-shadow: 0 10px 15px rgba(128,98,71,0.7) inset, 0 -10px 15px rgba(128,98,71,0.7) inset;
    background-image: url("../images/kowhaiwhai.png");
    background-size: contain;
}

.lightBar {
    width: 100%;
    height: 3vw;
    background-image: linear-gradient(rgb(128,98,71,.5), rgba(128,98,71,.1), rgba(128,98,71,.5));

}



.indexCard {
    padding: 0;
}

/* correct the colour for hyperlink underline effect */
.indexCard a {
    color: rgb(128, 98, 71);
}


.indexCardText {
    text-align: center;
    padding: 2rem 0rem;
    font-size: x-large;
    position: relative;
	top: 30%;
	background: rgba(224, 233, 234, .9);
	width: 60%;
	box-shadow: 0px 0px 6px 4px rgba(224, 233, 234, .9);
	margin: auto;
}

/* size and cropping for all image cards on homepage */
.cardImage {
    background-size: cover;
    height: 25vw;
    min-height: 230px;
}

#mapCard {
    background-image: url("../images/map-thumb.webp");
}

#reserveCard {
    background-image: url("../images/calendar-thumb.webp");
}

#hoursCard {
    background-image: url("../images/hours-thumb.webp");
}

#menuCard {
    background-image: url("../images/menu-thumb.webp");
}

#appetisers {
    background-image: url("../images/appet-thumb.webp");
}

#mains {
    background-image: url("../images/main-thumb.webp");
}

#desert {
    background-image: url("../images/desert-thumb.webp");
}

#beverages {
    background-image: url("../images/bev-thumb.webp");
}



/* media query to adjust size of cards for small screens */
@media (max-width: 767px) {
    .cardImage {
        height: 50vw;
    }

    .cardCaption {
        bottom: 1vw;
    }
}

/* Media query to adjust floating text for smaller screens*/
@media (max-width: 500px) {
    

    h1 {
        font-size: 2.4rem
    }

    .subHeading {
        font-size: 1.7rem;
    }

    .floatingText {
        width: 68%;
        padding: 1rem;
    }

    .background {
        padding: 20vw 0;
    }
}