


.list-group-item, .navbar-toggler {
    border: 0;
}

.list-group-item:hover {
    background: lightgray;
}

#logo1 {
    font-size: 3.67rem;
    font-weight: 300;
    font-variation-settings: "wdth" 90;
    line-height: 1.5;
    margin: 0.8rem;
    letter-spacing: .25rem;
    color: #3F575A;
}


#logo2 {
    margin: 1.2rem;
    font-size: 1.375rem;
    font-weight: 600;
    letter-spacing: .125rem;
    line-height: 1.2;
}

.hamburger-icon {
    font-size: 1.25em;
    font-weight: 200;
}

.closeButton {
    font-size: 1.75rem;
    font-weight: 400;
    font-variation-settings: "wdth" 115;
    color: #806247;
}

.closeButton:hover {
    color: #A84736;
}

.bannerLine {
    width: 20rem;
}

.banner {
    padding-top: 4.5rem;
    box-shadow: 0 4px 7px rgba(128,98,71,0.25)
}

.headerAddress {
    line-height: 2em;
    margin: auto;
}

.price {
    color: #A84736;
}

.navbar-toggler {
    margin: 0.5em;
}

.navMenu {
    padding: 1em;
}

.navMenu, .staffLink {
    color: #806247;
    text-decoration: none;
}

.navMenu:hover, .staffLink:hover {
    color: #A84736;
    text-decoration: none;
}

.navFooter {
    color: #3F575A;
    font-size: 1.15rem;
    text-decoration: none;
    line-height: 2.25em;
    font-style: italic;
}

.navFooter:hover {
    color: #1f3234;
}

.footer {
    float: left;
}

.staffLink:hover, .navFooter:hover {
    text-decoration: underline;
}

.staffLink, .headerAddress, .footerText {
    float: right;
    text-align: right;
    margin-right: 1.5em;
    line-height: 2em;
    }

.copyR {
    font-style: italic;
    font-size: 0.9rem;
}

.navMenu {
    font-size: 1.4rem;
    padding: 0.5rem;
    letter-spacing: 0.05rem;

}

.thisPage {
    text-decoration: underline;
    font-weight: 550;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(251, 246, 242);
    box-shadow: 0 4px 7px rgba(128,98,71,0.25)
}

.footBox {
    box-shadow: 0 -4px 7px rgba(47, 108, 115, .2), 0 4px 7px rgba(47, 108, 115, .2) inset;;
    background-color: rgba(47, 108, 115, .15);
    padding-top: 2em;
}

footer .copyBar {
    box-shadow: 0 0px 7px rgba(47, 108, 115, .1) inset;
    background-color: rgba(47, 108, 115, .15);
}

.mainText {
    text-align: center;
    padding: 3rem 2rem;
    font-size:x-large ;
}

main {
    text-align: center;
    margin-bottom: 3em;
}

h1 {
    font-weight: 500;
    letter-spacing: .1rem;
    color: #3F575A;
    text-align: center;
    clear: both;
    padding: 5rem;
    box-shadow: 0 4px 7px rgba(128,98,71,0.1)
    
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    color: #806247;
    margin-top: 5rem;
    margin-bottom: 2.5rem;
}

h3 {
    font-weight: 350;
    font-size: 1.2rem;
    color: #3F575A;
    margin-top: 3rem;
}

p {
    color: #806247;
}

h1, h2, h3, p, a, .closeButton {
    font-family: 'Asap', sans-serif;
}

.list-group {
    margin: 0.35rem;
}

small {
    font-size: 0.8em;
    font-style: italic;
    opacity: .8;
}

.navbar-collapse>menu>li:hover {
    background-color: rgba(47, 108, 115, .2);
}

.navbar-collapse>menu>li {
    background-color: rgb(251, 246, 242);
}

#littleLogo {
    display: none;
    font-size: 1rem;
    color: #3F575A;
}
#topLL {
    line-height: 2rem;
}
#subLL {
    font-size: 0.75rem;
    color: #806247;
    line-height: 1.75rem;
}

/* modifying the Bootstrap card class */
.card {
    max-width: 400px;
}


.card-heading {
    font-weight: 350;
    font-size: 1.2rem;
    color: #3F575A;
}

.attribution {
    text-align: left;

}